.restaurant-thumbnail {
	display: inline-block;
	top: 0;
	width: 300px;
	border: 0;
}

.iframe-responsive {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.iframe-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
